@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;

       }
       .container-for-search {
        width: 100%;
        height: auto;
        margin-top: 5000 px;
        position: relative;
       }
    .padding-120 {
    position: relative;
    height: 120px;
    }
    .container-for-cards {
        position: relative;
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    app-course-on-homepage {
        width: 75%;
        margin-bottom: 30px;
    }